*{
    margin: 0;
    padding: 0;
}
h1{
    font-size: 69px;
    display: flex;
    color:aliceblue;
    margin-bottom: 10px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
}
body{
    background-color: rgb(46, 46, 46);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
}
.form-select{
    display: flex;
    font-size: large;
    border-radius: 30px;
    padding-bottom:10px;
    padding-top:10px;
    padding-left:250px;
    padding-right:250px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background-color: rgb(43, 43, 43);
    color:aliceblue;
    border: 1px solid;
    transition-duration: 1000ms;
}
.boton{
    justify-content: center;
    align-items: center;
}
#inicio{
    border: 1px solid;
    display: flex;
    font-size: large;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    transition: none;
    margin-top: 10px;
    padding-bottom:10px;
    padding-top:10px;
    padding-left:150px;
    padding-right:150px;
    width: 100%;
    background-color: rgb(43, 43, 43);
    color:aliceblue
}
.botMenu{
    border: 1px solid;
    display: flex;
    font-size: large;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    transition: none;
    margin-top: 30px;
    text-decoration: none;   
    padding-bottom:10px;
    padding-top:10px;
    flex-direction: row;
    height: 100%;
    width: 100%;
    flex-direction: row;
    background-color: rgb(43, 43, 43);
    color:aliceblue
}
.fuente{
    display: flex;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    color: aliceblue;
    margin-top: 20px;
    width: 100%;
    border-bottom: solid rgb(43, 43, 43);
}
.bott-r{
    border: 1px solid;
    display: flex;
    font-size: large;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    transition: none;
    margin-top: 30px;
    text-decoration: none;   
    padding-bottom:10px;
    flex-direction: row;
    height: 10%;
    width: 30%;
    flex-direction: row;
    background-color: rgb(43, 43, 43);
    color:aliceblue
}

.data{
    border: 1px solid;
    display: flex;
    font-size: large;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    transition: none;
    margin-top: 20px;
    text-decoration: none;   
    flex-direction: row;
    height: 10%;
    width: 100%;
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    flex-direction: row;
    background-color: rgb(43, 43, 43);
    color:aliceblue
}




